{% extends "sandbox.html" %}

{% block nav %}
<ul class="nav">
    <li><a href="/analyzer/">Home</a></li>
    <li><a href="/analyzer/userLogin/">Login</a></li>
    <li><a href="/analyzer/registration/">Registration</a></li>
    <li><a href="/analyzer/anonUpload/">Anonymous Submission</a></li>
    <li><a href="/analyzer/queue/">Queue</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="content">
    <div id="l_container col-lg-8">
        <h3>The upload was successful!</h3>
        <p>In order to view your report wait a couple of minutes and use the following link.</p><br>
        <a href="{{ url }}{{ hash }}">{{ url }}{{ hash }}</a>
    </div>
</div>
{% endblock %}