{% extends "sandbox.html" %}

{% block nav %}
<ul class="nav">
            <li><a href="/analyzer/">Home</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="content">
    <div id="l_container col-lg-8">

        <h4>Mobile Sandbox - Anonymous FileUpload</h4>
       <form action="/analyzer/anonUpload/" method="POST" enctype="multipart/form-data">
             {% csrf_token %}
			 {{ form.as_p }}
            <p><input type="submit" value="Send" /></p>
        </form>
    </div>
</div>
{% endblock %}