{% extends "sandbox.html" %}

{% block nav %}
    <ul class="nav">
    {% if user.is_authenticated %}
        <li><a href="/home/">Home</a></li>
        <li><a href="/history/">Report history</a></li>
        <li><a href="/queue/">Queue</a></li>
        <li><a href="/analyzer/logout/">Log Out</a></li>
    {% else %}
        <li><a href="/userLogin/">Login</a></li>
        <li><a href="/registration/">Registration</a></li>
        <li><a href="/anonUpload/">Anonymous Submission</a></li>
        <li><a href="/queue/">Queue</a></li>
    {% endif %}
    </ul>
{% endblock %}

{% block content %}
<div id="content">
    <div id="l_container col-lg-8">
    <h4>Welcome to Mobile Sandbox</h4>
    <p>MobileSandbox is a tool to that takes a Android application (apk-file) and analyzes it for malicious
    behaviour. In order to analyze a sample please register an account or use the anonymous upload function. If you want
        to search for an already submitted sample you can use the search bar by entering the SHA1-, SHA256 or MD5 sum of
        the sample.</p>
    <p>Please note: This service is run purely as a research tool and a best effort service.
        We reserve the right to take it down at any point for maintenance or other reasons.</p>
    </div>
</div>

{% endblock %}}