{% extends "sandbox.html" %}

{% block nav %}
<ul class="nav">
    <li><a href="/home/">Home</a></li>
    <li><a href="/queue/">Queue</a></li>
    <li><a href="/logout/">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
{% load array_filter %}

<div id="content">
    <div id="l_container col-lg-8">
        <h3>Submission History</h3>
        <table border="1" cellpadding="1">
            <tr><th bgcolor="#f5f5f5" colspan="7">History</th></tr>
            <tr>
            {% for label, value in data.items %}
                <th bgcolor="white">{{ label }}</th>
            {% endfor %}
            </tr>
            <tr>
            {% for label, value in data.items %}
                {% if forloop.counter0|divisibleby:6 %}
                    </tr><tr>
                {% endif %}
                <td>
                {% for entry in value %}
                    {% if label == 'Static' %}
                        {% if entry == "False" %}
                            running <br>
                        {% else %}
                            <a href="/show/?report={{ entry }}&type=static">Report</a> <br>
                        {% endif %}
                    {% endif %}
                    {% if label == 'Dynamic' %}
                        {% if entry == "False" %}
                            running <br>
                        {% else %}
                            <a href="/show/?report={{ entry }}&type=dynamic">Report</a> <br>
                        {% endif %}
                    {% endif %}
                    {% if label == 'Decompiled Files' %}
                        {% if entry == "False" %}
                            -- <br>
                        {% else %}
                            <a href="/download/?token={{ entry }}">Download</a> <br>
                        {% endif %}
                    {% endif %}
                    {% if label == 'Filename' %}
                        {{entry}} <br>
                    {% endif %}
                    {% if label == 'SHA1' %}
                        {{entry}} <br>
                    {% endif %}
                    {% if label == 'Status' %}
                        {% if entry == 'finished-1' or entry == 'finished-2' %}
                            running <br>
                        {% else %}
                            {{entry}} <br>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endblock %}