{% extends "sandbox.html" %}

{% block nav %}
<ul class="nav">
    <li><a href="/analyzer/home/">Home</a></li>
    <li><a href="/analyzer/history/">Report history</a></li>
    <li><a href="/analyzer/queue/">Queue</a></li>
    <li><a href="/analyzer/logout/">Log Out</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="content">
    <div id="l_container col-lg-8">

        <h4>Hi {{full_name}}, welcome to MobileSandbox</h4>
        <form action="/analyzer/home/" method="POST" enctype="multipart/form-data">
             {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.file.label_tag }} </p>
                        <p>
                                {{ form.file.errors }}
                                {{ form.file }}
                        </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </div>
</div>
{% endblock %}