{% extends "sandbox.html" %}

{% block nav %}
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/userLogin/">Login</a></li>
    <li><a href="/anonUpload/">Anonymous Submission</a></li>
    <li><a href="/queue/">Queue</a></li>
</ul>
{% endblock %}

{% block content %}
    <div id="content" class="login_container p-none">
        <div class="l_container col-lg-8">
            <p>Registration successful! Continue to login <a href="/analyzer/userLogin/">Login</a></p>
        </div>
    </div>
{% endblock content %}