<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile-Sandbox</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/screen.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/docs.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/prettify.css">

</head>
<body>
{% block header %}
<div class="topbar">
    <div class="topbar-inner">
        <div class="container">
            <h3><a href="/analyzer/">Mobile Sandbox</a></h3>
            {% block nav %}

            {% endblock %}
            <ul class="nav secondary-nav">
                <li><form action="/analyzer/search/" method="get">{% csrf_token %}
                    <input id="sample_id" type="text" placeholder="Search" name="q"></form> </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <section>
        {% block content %}

        {% endblock %}
    </section>
</div>
<br><br>
<div class="footer">
    <div class="inner">
        <div class="container">
            <a href="http://mobilesandbox.org" target="_blank">MobileSandbox</a>
        </div>
    </div>
</div>
</body>
</html>