{% extends "sandbox.html" %}

{% block nav %}
{% if user.is_authenticated %}
    <ul class="nav">
        <li><a href="/home/">Home</a></li>
        <li><a href="/history/">History</a></li>
        <li><a href="/logout/">Logout</a></li>
    </ul>
{% else %}
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/userLogin/">Login</a></li>
        <li><a href="/registration/">Registration</a></li>
        <li><a href="/anonUpload/">Anonymous Submission</a></li>
        <li><a href="/queue/">Queue</a></li>
    </ul>
{% endif %}
{% endblock %}

{% block content %}

<div id="content">
    <div id="l_container col-lg-8">
        <h3>Result</h3>
        {% if sha256 != None %}
            {% if status == 'finished' %}
                <p>We found the sample in our database. You can view the report by following this link:
                <a href="/show/?report={{sha256}}">Report</a></p>
            {% else %}
                <p>We found the sample in out database. However it seems like the analysis is currently running.
                    Please try again later</p>
            {% endif %}
        {% else %}
            <p>This sample was never submitted! Please upload it to the system.</p>
        {% endif %}

    </div>
</div>
{% endblock %}