{% extends "sandbox.html" %}

{% block nav %}
{% if user.is_authenticated %}
    <ul class="nav">
        <li><a href="/analyzer/home/">Home</a></li>
        <li><a href="/analyzer/history/">History</a></li>
        <li><a href="/analyzer/logout/">Logout</a></li>
    </ul>
{% else %}
    <ul class="nav">
        <li><a href="/analyzer/">Home</a></li>
        <li><a href="/analyzer/userLogin/">Login</a></li>
        <li><a href="/analyzer/registration/">Registration</a></li>
        <li><a href="/analyzer/anonUpload/">Anonymous Submission</a></li>
        <li><a href="/analyzer/queue/">Queue</a></li>
    </ul>
{% endif %}
{% endblock %}

{% block content %}

<div id="content">
    <div id="l_container col-lg-8">
        <h3>Result</h3>
        {% if sha256 != None %}
            {% if status == 'finished' %}
                <p>We found the sample in our database. You can view the report by following this link:
                <a href="/analyzer/show/?report={{sha256}}">Report</a></p>
            {% else %}
                <p>We found the sample in out database. However it seems like the analysis is currently running.
                    Please try again later</p>
            {% endif %}
        {% else %}
            <p>This sample was never submitted! Please upload it to the system.</p>
        {% endif %}

    </div>
</div>
{% endblock %}