{% extends "sandbox.html" %}

{% block nav %}
<ul class="nav">
            <li><a href="/analyzer/home/">Home</a></li>
            <li><a href="/analyzer/history/">Report history</a></li>
            <li><a href="/analyzer/logout/">Log Out</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="content">
    <div id="l_container col-lg-8">
        <a href="/analyzer/logout">Logout</a>
		<table style="width:100%">
			<tr>
				<td>APK</td>
				<td>Status</td>
			</tr>
			{% for file, dict in uploaded_files.items %}
				<tr>
					<td>{{file}}</td>
				{% if dict.uploaded %}
					<td>Upload successful - Please wait!</td>
				{% elif dict.error %}
					<td>Error: {{dict.error}}</td>
				{% elif dict.report %}
					<td>Report already finished! See {{dict.report}}</td>
				{% else %}
					<td>{{dict.error}}</td>
				{% endif %}
				</tr>
			{% endfor %}
		</table>
    </div>
</div>
{% endblock %}